<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang đăng kí</title>
</head>
<body>
    <h2>Trang đăng kí</h2>
    <h2>Đăng kí thông tin</h2>

    <form action="/information" method="get">
        <span>Tên</span>:<input type="input" name="name"><br>
        <span>Tuổi</span>:<input type="input" name="age"><br>
        <span>Địa chỉ</span>:<input type="input" name="address"><br>

        <button type="submit">Đăng kí</button>

    </form>
</body>
</html>